body
  background: #eaeaea

+gradient(!start, !end)
  background-image: -webkit-linear-gradient(!start, !end)
  background: !start
  
  
button
  padding: 8px 20px
  
body
  +gradient(#FFF, #888)
  
#container
  margin: 20px auto
  width: 92%
  
