-# contents in #head and #body will be appended to head and body tags in index.html
%div
  #head
    %title FiveTastic
    %link{ type: "text/sass", href: "/sass/reset.sass" }
    %link{ type: "text/sass", href: "/sass/app.sass" }
    %link{ type: "text/sass", href: "/sass/theme_red.sass", id: "theme" }
  #body
    #container
      %header
        %h1 
          %a{ href: "/" } FiveTastic
        %nav
          %a{ href: "/page1" } page1
          
        .themes
          %button.red red
          %button.blue blue
      #content
        != yield
  
      %footer

