%h2 Hello World!

%p FiveTastic is a mini-framework to develop website/apps that run entirely on client side using the following libraries:

%ul
  %li Coffeescript
  %li HAML
  %li SASS
  %li JQuery/Zepto

%h3 Main features:


%ul
  %li 
    loads HAML and SASS files asynchronously 
    %span (ajax)
  %li 
    has layout file 
    %span (reuse html)
  %li 
    handles history changes 
    %span (pushState/onpopstate)
  %li 
    integrates editor to develop directly into the browser
    %span (CodeMirror editor, the files are saved into the browser's localStorage)
  %li 
    host it everywhere! 
    %span (it's only html and js)
  %li it's simple, it's fast, it's powerful, so...

.box 
  ...profit!


%p 
  This file is the home page, located here: 
  %span /haml/index.haml
%p
  And here's the template/layout: 
  %span /haml/layout.haml

%p 
  more infos: 
  %a{ href: "https://github.com/makevoid/fivetastic" } github.com/makevoid/fivetastic