-# contents in #head and #body will be appended to head and body tags in index.html, same thing for #title
%div
  #head
    #title FiveTastic
    %link{ type: "text/sass", href: "/sass/reset.sass" }
    %link{ type: "text/sass", href: "/sass/app.sass" }
    %link{ type: "text/sass", href: "/sass/theme_red.sass", id: "theme" }
  #body
    #container
      %header
        .nav_right
          .fb-login-button Login
          
        %h1 
          %a{ href: "/" } Fb Connect
          
        %nav
          %a{ href: "/" } Home
          %a{ href: "/page1" } Page 1
          %a{ href: "/page2" } Page 2
          

      .clear
          
      #content
        != yield
  
      %footer
      
      #fb-root

