%p This is page 2

%div
  <fb:comments href="http://d.makevoid.com:3000/page2" canpost="true" candelete="false"></fb:comments>
  
-# <fb:comments href="example.com" num_posts="2" width="500"></fb:comments>
